#banner
	.banner_content
		%h1 File Cabinet
		%p Your life's work. Organized, always.
		%button= link_to "Enter", new_user_registration_path

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Organize
				%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer turpis lorem, scelerisque quis efficitur non, facilisis id felis. Donec pellentesque id lorem vitae ullamcorper. Integer consequat nisi sed libero ultrices tristique in ac orci. Nulla viverra elementum rutrum. Etiam maximus erat vitae lorem iaculis tristique. Etiam tempor orci at dolor vulputate faucibus.

#bottom_cta
	.wrapper
		%h2 Go Ahead!
		%br
		%button= link_to "Join Now", new_user_registration_path
                    
                